*.zip
*.war
staging/
tmp/
tmp_binaries/
*.iml
logs/
target/
*.DS_Store
.idea/
*.tgz
bazel-*
brigade.yaml
settings.xml
*.cfg
etc/cert-manager.json
*.pyc
.vscode/
.pytest_cache/
reports/
res.txt
results.txt
/venv/
skaffold-dev.yaml
 __pycache__/
build/
.gradle/
key.json
cue/
.project
.settings/
./dev/
.CONFIGURED
forgeops-toolbox/
legacy-docs/7.0/site/
dist/
legacy-docs/7.0/site/build
.gitignore.local
tag.json
/bin/Activate.ps1
/bin/activate*
/bin/deactivate*
/bin/pip*
/bin/python*
pyenv.cfg
*.swp
*.swo
*~
lib/dependencies

# By Fehmi M'Barek
**/terraform.tfvars
**/*.auto.tfvars
.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate.backup
**/terraform.tfstate
**/ansible-vault.yml
**/terraform_outputs.json
tmp/
infra/ansible/hetzner/dev/tmp/
infra/ansible/hetzner/stg/tmp/
infra/ansible/hetzner/prd/tmp/
**/privkey.pem
**/privkey*.pem
**/private_key*
**/cloudflare.ini
**/.env*
ansible-env/
venv/
**/kubeconfig
**/tcpdump**
deploy.log
build.log

# Alles in secrets/ ignorieren ...
secrets/*
# ... außer verschlüsselte Dateien:
!secrets/*.enc.yaml
!secrets/*.enc.json
!secrets/*.gpg.yaml
!secrets/*.gpg.json
!secrets/*.enc
!secrets/*.gpg

deploy-experimental/

